input{
    font-family: monospace;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 20px;
    font-family: monospace;  
}

.previous_passwords{
    margin-bottom: 20px;
}

#display{
    width: 100%;
}

#length{
    display: inline-block;
    width: 80px;
}

#slider{
    width: 100%;
}